<ion-header>

  <ion-navbar color="primary">
    <ion-title>Tarefas</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list>
    <ion-item-sliding *ngFor="let tarefa of tarefas | async">
      <ion-item>
        <ion-icon name="alert" item-start color="secondary" *ngIf="tarefa.prioridade == 'baixa'" ></ion-icon>
        <ion-icon name="alert" item-start color="warning"  *ngIf="tarefa.prioridade == 'media'"></ion-icon>
        <ion-icon name="alert" item-start color="danger"  *ngIf="tarefa.prioridade == 'alta'"></ion-icon>
        {{tarefa.nome}}
        <ion-icon name="checkmark" item-end *ngIf="tarefa.concluida" color="secondary"></ion-icon>
      </ion-item>
      <ion-item-options side="right">
          <button ion-button color="danger" (click)="delete(tarefa.id)">
            <ion-icon name="trash"></ion-icon> Apagar
          </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab bottom right>
    <button ion-fab (click)="adicionar()" color="primary">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
